@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@800&family=Inter&family=Saira+Stencil+One&display=swap');
html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background: red;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

#top-row {
  width: 100vw;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

nav {
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100vw;
  height: 60px;
  display: none;
  background-color: black;
}

.form {
  width: 256px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

.search-field {
  width: 90%;
  height: 100%;
  padding: 10px 35px 10px 15px;
  /* border: none; */
  /* border-radius: 100px; */
  /* Added part below */
  border-radius: none;
  outline: none;
  background: linear-gradient(white, white) center bottom 5px /
    calc(100% - 20px) 2px no-repeat;
  background-color: black;
  border: 1px solid black;
  padding: 10px;
  color: white;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.search-button {
  background: black;
  border: 1px solid;
  outline: none;
  margin-left: 0px;
  height: 100%;
  width: 10%;
}

.search-button img {
  filter: invert(1);
  width: 20px;
  height: 20px;
  object-fit: cover;
}

#searchbar {
  width: 60px;
  height: 60px;
}

#logo {
  width: auto;
  height: 60px;
}

#logo a {
  text-decoration: none;
}

#logo a h1 {
  color: black;
  height: 60px;
  font-family: "Saira Stencil One", cursive;
}

#menuToggle {
  overflow: hidden;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span {
  width: 55px;
  height: 8px;
  margin-bottom: 10px;
  background: black;
  border-radius: 0px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#menuToggle input:checked ~ #span1 {
  background-color: black;
  transform: rotate(45deg) translate(8px);
}

#menuToggle input:checked ~ #span2 {
  background-color: black;
  transform: rotate(495deg) translate(4px);
}

#lista ::before {
  list-style: none;
  margin: 0 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  text-align: center;
  color: black;
}

main {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
main div.frame {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.outerborder {
  background-color: #7d7d7d;
  background-image: url("https://cyndikirkpatrick.com/wp-content/uploads/2016/06/eos_autumn3a.png");
  width: 60%;
  padding: 1%;
  margin: auto;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pictures {
  background-color: #7d7d7d;
  background-image: url("your texture tile address for the inside border");
  display: block;
  max-height: 75vh;
  width: auto;
  margin: auto;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px solid #61201e;
  box-shadow: 0px 0px 60px -9px rgba(0, 0, 0, 1);
}

#lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lista img {
  height: 40vh;
  width: 40vw;
}

#lista p {
  font-family: "Saira Stencil One", cursive;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.arrow-button img {
  width: 200%;
  height: 200%;
}

main .frame button {
  height: auto;
  border-style: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: black;
}

footer p {
  font-family: "Saira Stencil One", cursive;
  color: red;
  text-align: center;
}
